body{
	
}

#container{
	
}

#banner{
	
}

#title{
	position: absolute;
	right: 60px;
	font-size: 50pt;
	font-family: century gothic;
}




nav{
	position: absolute;
	top: 100px;
	right: 50px;
	
}
	.circle {
      display: inline-block;
   	  width: 300px;
      height: 300px;
      border-radius:150px;
      margin: 5px;
      text-align: right;
      color: white;
      font-family: century gothic;
      font-size: 25pt;
    }

     nav ul li{
     list-style: none;
     position: relative;
    

	}
	#circle1{
		background-color: rgba(80,5,97,1);
	}
	#circle2{
		background-color: rgba(80,5,97,.8);
		
	
	}
	#circle3{
		background-color: rgba(80,5,97,.6);
		
		
	}
	#circle4{
		background-color: rgba(80,5,97,.4);
		
		
	}

 	.circle :hover{
	background-color: black;
	color: black;
	cursor: pointer;
}

footer{
	position: absolute;
	bottom: 15px;

}